*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body {
  background-image: url("fundo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #6e6e6e;
}

/* LOGO NO FUNDO EMBAÇADA */



/* HERO */

.hero{

height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{

font-size:60px;
color:#9c9c9c;
margin-bottom:10px;

}

.hero p{

font-size:22px;
margin-bottom:25px;

}

/* BOTÃO */

.botao{

background:#9c9c9c;
color:white;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
font-size:14px;
padding: 10px;
border-radius: 25px;
transition:0.3s;

}

.botao:hover{

background: #b5a18f

}
.botao {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* SERVIÇOS */

.servicos{

padding:80px 20px;
text-align:center;
background:transparent;

}

.servicos h2{

font-size:40px;
color:#9c9c9c;
margin-bottom:40px;

}
.servicos, .galeria {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  margin: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 900px;
  margin: auto;
}

.card{

background:#f5efe6;
padding:30px;
width:250px;
border-radius:12px;
box-shadow:0 5px 10px rgba(0,0,0,0.08);

}

.card h3{

color:#9c9c9c;
margin-bottom:10px;

}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* GALERIA */

.galeria{

padding:80px 20px;
text-align:center;

}

.galeria h2{

font-size:40px;
color:#9c9c9c;
margin-bottom:40px;

}

.fotos{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

.fotos img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

/* RODAPÉ */

footer{

text-align:center;
padding:20px;
background:#e8dccd;

}
.sobrancelhaKamilly{
width: 300px;
height: 300px;
object-fit:cover;
border-radius: 50%;;
object-position:center 50%;
}

.sobrancelhaYasmin{
width:300px;
height:auto;
object-fit:cover;
border-radius:50%;
object-position:center 40%;
}
.sobrancelhaAbraao{
width:300px;
height:auto;
object-fit:cover;
border-radius:50%;
object-position:center 40%;
}
